<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="Materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<title>Eventos App</title>
</head>
<body>
	<h1>Evento</h1>
	<h3>
		<a href="/eventos" class="waves-effect waves-light btn"> <i
			class="material-icons right">format_list_bulleted</i>Lista de Eventos
		</a>
	</h3>
	<div th:each="evento : ${evento}" class="container">
		<div class="row">
			<p>
				Nome: <span th:text="${evento.nome}"></span>
			</p>
			<p>
				Local: <span th:text="${evento.local}"></span>
			</p>
			<p>
				Data: <span th:text="${evento.data}"></span>
			</p>
			<p>
				Horário: <span th:text="${evento.horario}"></span>
			</p>
		</div>
		
		<th:block th:include="mensagemValidacao"></th:block>
		
		<form method="post">
			<input type="text" value="" name="nomeConvidado" /><label>Nome:</label>
			<input type="text" value="" name="rg" /><label>RG:</label> <br />
			<button class="waves-effect waves-light btn" type="submit">Adicionar
				Convidado</button>
		</form>
	</div>
	<h5 class="card-panel teal lighten-2">Lista de Convidados</h5>
	<div class="container" th:each="convidado : ${convidados}">
	
		<div class="collection">
			<div class="collection-item">
			<label>Nome</label>
					<a class="collection-item  col s6">
						<p class="badge" th:text="${convidado.nomeConvidado}"></p>
					</a>
			</div>
			<div class="collection-item">
			<label>RG </label>
					<a class="collection-item  col s6">
						<p class="badge" th:text="${convidado.rg}"></p>
					</a>	
			</div>
		</div>
	</div>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="Materialize/js/materialize.min.js"></script>
</body>
</html>